/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-black-color: #000000;
  --hero-black-color: #2f303a;
  --hero-grey-color: #c4c4c4;
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --active-button-color: #188ce8;
  --primary-white-color: #ffffff;
  --our-team-white: #f5f4fa;
  --primary-grey-color: #757575;
  --solid-white-color: #eeeeee;
  --border-white-color: #ececec;
  --primary-icon-color: #afb1b8;
  --text-color-footer: rgba(255, 255, 255, 0.6);
  --text-color-placeholder: rgba(117, 117, 117, 0.5);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-shadow-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-form-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --card-projects-portfolio: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --project-item-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-overlay-color: rgba(33, 150, 243, 0.9);
  --box-overlay-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --border-form-order: 1px solid rgba(33, 33, 33, 0.2);
  --transition-speed: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif, Raleway;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.3em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: var(--primary-white-color);
  /* width: 1600px; */
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--border-white-color);
}

.container-header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
}

.header__web {
  color: var(--accent-color);
}

.header__studio {
  color: var(--primary-black-color);
}

.header__navi {
  /* margin-right: auto; */
  margin-left: 93px;
}

.header__contacts {
  color: var(--primary-grey-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--transition-speed);
  transition: color var(--transition-speed);
}

.header__list-nav,
.header__contacts-nav,
.header__contacts-item {
  list-style: none;
  margin-left: auto;
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links,
.header__link-current,
.header__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

a.header__contacts:hover,
a.header__contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

a.header__links:hover,
a.header__links:focus {
  color: var(--accent-color);
}

a.header__links {
  color: var(--primary-text-color);
  -webkit-transition: color var(--transition-speed);
  transition: color var(--transition-speed);
}

.header__link-current {
  color: var(--accent-color);
  position: relative;
}

.header__link-current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}

.header__mail-icon,
.header__tel-icon {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  /* transition: var(--transition-speed); */
}

.header__mail-icon:hover,
.header__mail-icon:focus {
  fill: var(--accent-color);
  /* transition: var(--transition-speed); */
}

.hero {
  background: var(--hero-grey-color);
  text-align: center;
  max-width: 1600px;
  padding-bottom: 200px;
  padding-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../Images/overlay.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Images/overlay.jpg);
}

.hero__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button:hover,
.hero__button:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero__button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  -webkit-transition: background var(--transition-speed);
  transition: background var(--transition-speed);
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

.section-qualities {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
}

.qualities__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.qualities {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.qualities__reasons-item {
  width: 270px;
}

.qualities__icon {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: var(--our-team-white);
  border-radius: 4px;
}

.qualities__details {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-grey-color);
}

.qualities__icon-antenna,
.qualities__icon-clock,
.qualities__icon-diagram,
.qualities__icon-astronaut {
  height: 70px;
  width: 70px;
}

.qualities__set {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.section__job {
  padding-bottom: 94px;
  padding-top: 94px;
  margin-right: auto;
  margin-left: auto;
}

.container__job {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.directions__job {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  /* width: 366px; */
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.img__job {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-left: 0px;
}

.picture__job {
  position: relative;
}

.title__job {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

.section-team {
  background: var(--our-team-white);
  padding-bottom: 94px;
  padding-top: 94px;
  margin-right: auto;
  margin-left: auto;
}

.section-team {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 91px;
  padding-bottom: 94px;
}

.container-team {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.directions-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  /* width: 366px; */
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.our-team {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.olga,
.igor,
.mykola,
.myhailo {
  background: var(--primary-white-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-desk {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-grey-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 0px 32px; */
  margin-top: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--primary-icon-color);
  /* background-color: var(--primary-icon-color); */
  -webkit-transition: background-color var(--transition-speed), color var(--transition-speed);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section-clients {
  margin-right: auto;
  margin-left: auto;
  padding-top: 91px;
  padding-bottom: 94px;
}

.container-clients {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.directions-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  /* width: 366px; */
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.client-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 92px;
}

.client-card {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  margin-left: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-card:nth-child(1) {
  margin-left: 0px;
}

a.client-link:hover,
a.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  /* transition: border-color var(--transition-speed) fill var(--transition-speed); */
}

a.client-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  fill: var(--primary-icon-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.client-icon {
  width: 106px;
  height: 60px;
}

.footer {
  background: var(--hero-black-color);
  /* max-width: 1600px; */
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.container-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-color);
}

.studio-bottom {
  color: var(--primary-white-color);
}

.ad-footer {
  margin-top: 20px;
}

.nav-footer {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  /* margin-top: 20px; */
  color: var(--primary-white-color);
}

.address-map {
  color: var(--primary-white-color);
  text-decoration: none;
  -webkit-transition: color var(--transition-speed);
  transition: color var(--transition-speed);
}

.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.email,
.tel {
  font-style: normal;
  margin-top: 9px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-speed);
  transition: color var(--transition-speed);
}

.email:hover,
.email:focus {
  color: var(--accent-color);
  /* transition: var(--transition-speed); */
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
  /* transition: var(--transition-speed); */
}

.social-footer {
  margin-left: 70px;
}

.title-net,
.subscribe-title {
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-speed), color var(--transition-speed);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-subscribe {
  margin-left: auto;
}

.subscribe-title {
  display: block;
}

.subscribe-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--hero-black-color);
  color: var(--text-color-footer);
}

.subscribe-btn {
  position: relative;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  -webkit-box-shadow: var(--shadow-form-button);
          box-shadow: var(--shadow-form-button);
  border: 1px solid var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: backround-color var(--transition-speed);
  transition: backround-color var(--transition-speed);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--active-button-color);
}

.icon-send {
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  -webkit-transition: opacity var(--transition-speed);
  transition: opacity var(--transition-speed);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

/* .backdrop.is-hidden.modal {
  transform: rotate(180deg);
} */
.modal {
  padding-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
}

.modal-close-icon {
  cursor: pointer;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.form {
  /* padding: 40px; */
  padding: 0px 40px 40px 40px;
}

.form-title {
  margin-bottom: 12px;
  /* margin-top: 40px; */
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* margin-bottom: 10px; */
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-label:not(:last-child) {
  margin-bottom: 10px;
}

.form-input,
.feedback {
  border: var(--border-form-order);
  border-radius: 4px;
  margin-top: 4px;
  -webkit-transition: border-color var(--transition-speed);
  transition: border-color var(--transition-speed);
}

.form-input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  -webkit-transition: fill var(--transition-speed);
  transition: fill var(--transition-speed);
}

.form-input:focus-within + .form-icon {
  fill: var(--accent-color);
}

.form-input:focus-within,
.feedback:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.feedback {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.feedback::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-placeholder);
}

.feedback::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-placeholder);
}

.feedback:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-placeholder);
}

.feedback::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-placeholder);
}

.feedback::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-placeholder);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-border {
  opacity: 1;
}

.check {
  opacity: 0;
  -webkit-transition: fill var(--transition-speed);
  transition: fill var(--transition-speed);
}

.checkbox:checked + .check-icon > .check {
  opacity: 1;
  fill: var(--accent-color);
}

.checkbox:checked + .check-icon > .check-border {
  opacity: 0;
}

.agree {
  margin-left: 10px;
  letter-spacing: 0.03em;
}

.conditions {
  position: relative;
  color: var(--accent-color);
  text-decoration: none;
}

.conditions::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.btn-submit {
  display: block;
  margin: 0 auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px 52px;
  /* min-width: 200px; */
  max-height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  -webkit-box-shadow: var(--shadow-form-button);
          box-shadow: var(--shadow-form-button);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: backround-color var(--transition-speed);
  transition: backround-color var(--transition-speed);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--active-button-color);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-portfolio {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 0px;
  list-style: none;
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--card-shadow-portfolio);
          box-shadow: var(--card-shadow-portfolio);
  color: var(--primary-white-color);
}

.nav-button {
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--our-team-white);
  color: var(--hero-black-color);
  padding: 6px 22px;
  -webkit-transition: background-color var(--transition-speed), color var(--transition-speed), -webkit-box-shadow var(--transition-speed);
  transition: background-color var(--transition-speed), color var(--transition-speed), -webkit-box-shadow var(--transition-speed);
  transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
  transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed), -webkit-box-shadow var(--transition-speed);
}

.nav-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  list-style: none;
}

.nav-projects li {
  background-color: var(--primary-white-color);
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.project-link:hover,
.project-link:focus {
  -webkit-box-shadow: var(--card-projects-portfolio);
          box-shadow: var(--card-projects-portfolio);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-link {
  display: block;
  text-decoration: none;
  /* transform: translateY(-100%) var(--transition-speed); */
  -webkit-transition: -webkit-box-shadow var(--transition-speed);
  transition: -webkit-box-shadow var(--transition-speed);
  transition: box-shadow var(--transition-speed);
  transition: box-shadow var(--transition-speed), -webkit-box-shadow var(--transition-speed);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--box-overlay-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* transition: var(--transition-speed); */
  -webkit-transition: -webkit-transform var(--transition-speed);
  transition: -webkit-transform var(--transition-speed);
  transition: transform var(--transition-speed);
  transition: transform var(--transition-speed), -webkit-transform var(--transition-speed);
}

.overlay p {
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.gallery-desk {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--solid-white-color);
  border-bottom: 1px solid var(--solid-white-color);
  border-right: 1px solid var(--solid-white-color);
  border-top: none;
}

.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.project-title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-grey-color);
}

.project-link {
  display: block;
  text-decoration: none;
  /* transform: translateY(-100%) var(--transition-speed); */
  -webkit-transition: -webkit-box-shadow var(--transition-speed);
  transition: -webkit-box-shadow var(--transition-speed);
  transition: box-shadow var(--transition-speed);
  transition: box-shadow var(--transition-speed), -webkit-box-shadow var(--transition-speed);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-link:hover,
.project-link:focus {
  -webkit-box-shadow: var(--card-projects-portfolio);
          box-shadow: var(--card-projects-portfolio);
}/*# sourceMappingURL=main.css.map */